<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
</head>
<body>
<div th:insert="~{layout::content}"></div>
<div id="content">
    <div class="container">
        <form style="float: right" th:action="@{/contract/list}" class="form-inline my-2 my-lg-0" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
                   th:name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <h1 class="text-center"><a th:href="@{/contract}">Contract List</a></h1>
        <button><a th:href="@{/contract/create}">Create New Contract</a></button>
        <h2 th:if="${message}" th:text="${message}" style="color: green"></h2>
        <h2 th:if="${message1}" th:text="${message1}" style="color: red"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Deposit</th>
                <th>Total Money</th>
                <th>Name Employee</th>
                <th>Name Customer</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="contract : ${contractList}">
                <tr>
                    <td th:text="${contract.id}"></td>
                    <td th:text="${contract.startDate}"></td>
                    <td th:text="${contract.endDate}"></td>
                    <td th:text="${contract.deposit}"></td>
                    <td th:text="${contract.totalMoney}"></td>
                    <td th:text="${contract.employee.getName()}"></td>
                    <td th:text="${contract.customer.getName()}"></td>
                    <td><a th:href="@{/contract/{id}/update(id=${contract.id})}"
                           class="btn btn-outline-primary">Edit</a>
                    </td>
                    <td><a th:href="@{/contract/{id}/delete(id=${contract.id})}"
                           class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>


        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${contractList.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{/contract(page=${contractList.number - 1},keyword = ${search},size=${contractList.size})}">Previous</a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(0, contractList.totalPages - 1)}">
                        <li class="page-link" th:if="${contractList.number == i}">[[${i}+1]]</li>
                        <li class="page-link" th:unless="${contractList.number == i}">
                            <a th:href="@{/contract(page=${i},size=${contractList.size},keyword = ${search})}">[[${i}+1]]</a>
                    </th:block>
                    <li class="page-item" th:if="${contractList.hasNext()}">
                        <a class="page-link"
                           th:href="@{/contract(page=${contractList.number+1},keyword = ${search},size=${contractList.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>