<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
</head>
<body>
<div th:insert="~{layout::content}"></div>
<div id="content">
    <div class="container">
        <form style="float: right" th:action="@{/employee/keyword}" class="form-inline my-2 my-lg-0" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
                   th:name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" value="clear" onclick="clearEmployee()">
                Clear
            </button>
        </form>
        <!--        <h1 class="text-center"><a th:href="@{/employee}">Employee List</a></h1>-->
        <button><a th:href="@{/employee/create}">Create New Employee</a></button>
        <h2 th:if="${message}" th:text="${message}" style="color: green"></h2>
        <h2 th:if="${message1}" th:text="${message1}" style="color: red"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Education</th>
                <th>Division</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="employee : ${employeeList}">
                <tr>
                    <td th:text="${employee.id}"></td>
                    <td><a th:href="@{employee/{id}/view(id=${employee.id})}" th:text="${employee.name}"></a></td>
                    <td th:text="${employee.position.name}"></td>
                    <td th:text="${employee.educationDegree.name}"></td>
                    <td th:text="${employee.division.name}"></td>
                    <td><a th:href="@{/employee/{id}/update(id=${employee.id})}"
                           class="btn btn-outline-primary">Edit</a>
                    </td>
                    <td><a th:data-id="${employee.id}" th:data-name="${employee.name}" data-toggle="modal"
                           data-target="#modelId"
                           class="btn btn-outline-danger delete">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${employeeList.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{/employee(page=${employeeList.number - 1},keyword = ${keywordOld},size=${employeeList.size})}">Previous</a>
                    </li>

                    <th:block th:each="i: ${#numbers.sequence(0, employeeList.totalPages - 1)}">
                        <li class="page-link" th:if="${employeeList.number == i}">[[${i}+1]]</li>
                        <li class="page-link" th:unless="${employeeList.number == i}">
                            <a th:href="@{/employee(page=${i},size=${employeeList.size},keyword = ${keywordOld})}">[[${i}+1]]</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:if="${employeeList.hasNext()}">
                        <a class="page-link"
                           th:href="@{/customer(page=${employeeList.number+1},keyword = ${keywordOld},size=${employeeList.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/employee/delete}">
                <input type="hidden" id="deleteId" name="id">
                <div class="modal-body">
                    <span id="messageModal"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <button type="submit" class="btn btn-primary">ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    $(".delete").click(function () {
        let id = $(this).attr("data-id");
        let name = $(this).attr("data-name");

        console.log("id là:" + id);

        $("#deleteId").val(id);
        $("#messageModal").text(" Delete Employee : " + name);

        $("#modelId").modal('show');
    })


    function clearEmployee() {
        window.location = '/employee';
    }
</script>
</html>