<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<a th:href="@{/book/list}">
    Back to Book
</a><br><br>
<form th:action="@{/borrow/create}" method="post" th:object="${borrowBook}">
    <div>name student :
        <select th:field="*{bookBorrowCard}">
            <option th:each="bookcart:${bookCartList}" th:text="${bookcart.nameStudent}" th:value="${bookcart.id}"></option>
        </select>
    </div><br>

    <div>name book :
        <select th:field="*{book}">
            <option th:each="books:${bookList}" th:text="${books.author}" th:value="${books.id}"></option>
        </select>
    </div>
    <br>

    <div>ngày mượn :
        <input type="date" th:field="*{dateBorrow}"/>
    </div><br><br>

    <input type="submit" value="Create"/>
</form>

<h3 th:if="${message}" th:text="${message}"></h3>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>