<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
</head>
<body>
<div>
    <h1>Create new Blog</h1>

    <form th:action="@{/blog/save}" th:object="${blog}" method="post" novalidate="novalidate">
        <div>
            <label >Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div >
            <label >Title</label>
            <input  type="text" th:field="*{title}"/>
        </div>
        <div >
            <label >content</label>
            <input  type="text" th:field="*{content}"/>
        </div>
        <input type="submit" value="Create"/>
        <a th:href="@{/blog}" >Back</a>
    </form>
</div>

</body>
</html>