<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Blog List</h1>
    <a th:href="@{blog/create}">Create new Blog</a>
<!--    <h2 th:text="${message}" style="color: red"></h2>-->
    <table >
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Title</th>
            <th>Content</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="blog : ${blogList}">
            <tr>
                <td th:text="${blog.id}"></td>
                <td> <a th:href="@{/blog/{id}/view(id=${blog.id})}" th:text="${blog.name}"></a> </td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.content}"></td>
                <td><a th:href="@{/blog/{id}/update(id=${blog.id})}">Edit</a></td>
                <td><a th:href="@{/blog/{id}/delete(id=${blog.id})}" >Delete</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>