<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/index :: head}">
</head>
<body>
<div class="container">
    <h1>Update CustomerType</h1>
    <form th:action="@{/customerType/update}" th:object="${customerType}" method="post" novalidate="novalidate">
        <input class="form-control col-6" type="text" th:field="*{id}" th:readonly/>
        <div class="form-group">

            <label class="col-form-label col-2">Name</label>
            <input class="form-control col-6" type="text" th:field="*{name}"/>
        </div>
        <input type="submit" class="btn btn-outline-success" value="Save"/>

    </form>
    <a th:href="@{/customerType}" class="btn btn-outline-primary">Back</a>
</div>
</body>
</html>
</body>
</html>