<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1>Customer International</h1>
<p th:text="'Id : ' + ${customer.id}"></p>
<p th:text="'name : ' + ${customer.name}"></p>
<p th:text="'gender: ' + ${customer.gender}"></p>
<p th:text="'Birthday: ' + ${customer.birthday}"></p>
<p th:text="'id card: ' + ${customer.idCard}"></p>
<p th:text="'phone: ' + ${customer.phone}"></p>
<p th:text="'email: ' + ${customer.email}"></p>
<p th:text="'address: ' + ${customer.address}"></p>
<p th:text="'customer type: ' + ${customer.customerType.name}"></p>
<a th:href="@{/customer}" class="btn btn-outline-primary">Back</a>
</body>
</html>