<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1>Customer International</h1>
<p th:text="'Id : ' + ${giaoDich.id}"></p>
<p th:text="'name : ' + ${giaoDich.name}"></p>
<p th:text="'date: ' + ${giaoDich.date}"></p>
<p th:text="'Transaction Type: ' + ${giaoDich.loaiGiaoDich}"></p>
<p th:text="'Price: ' + ${giaoDich.donGia}"></p>
<p th:text="'Area ' + ${giaoDich.donGia}"></p>
<p th:text="'Name customer: ' + ${giaoDich.customer.name}"></p>
<a th:href="@{/giaoDich}" class="btn btn-outline-primary">Back</a>
</body>
</html>