<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
</head>
<body>
<div th:insert="~{layout::content}"></div>
<div id="content">
    <div class="container">
        <form style="float: right" th:action="@{/services/list}" class="form-inline my-2 my-lg-0" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
                   th:name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" value="clear" onclick="clearContract()">
                Clear
            </button>
        </form>
        <!--        <h1 class="text-center"><a th:href="@{/contract}">Contract List</a></h1>-->
        <button><a th:href="@{/services/create}">Create New Services</a></button>
        <h2 th:if="${message}" th:text="${message}" style="color: green"></h2>
        <h2 th:if="${message1}" th:text="${message1}" style="color: red"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Area</th>
                <th>Cost</th>
                <th>Max People</th>
                <th>Standard Room</th>
                <th>Description</th>
                <th>Pool Area</th>
                <th>Number Of Floors</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="services : ${servicesList}">
                <tr>
                    <td th:text="${services.id}"></td>
                    <td><a th:href="@{/services/{id}/view(id=${services.id})}" th:text="${services.name}"></a></td>
                    <td th:text="${services.area}"></td>
                    <td th:text="${services.cost}"></td>
                    <td th:text="${services.maxPeople}"></td>
                    <td th:text="${services.standardRoom}"></td>
                    <td th:text="${services.description}"></td>
                    <td th:text="${services.poolArea}"></td>
                    <td th:text="${services.numberOfFloors}"></td>
                    <td><a th:href="@{/services/{id}/update(id=${services.id})}"
                           class="btn btn-outline-primary">Edit</a>
                    <td>
                        <a data-toggle="modal" data-target="#modalDelete"
                           th:data-id="${services.getId()}" th:data-ids="${services.id}"
                           onclick="getId(this.getAttribute('data-id'))" class="btn btn-danger delete">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${servicesList.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{/services(page=${servicesList.number - 1},keyword = ${search},size=${servicesList.size})}">Previous</a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(0, servicesList.totalPages - 1)}">
                        <li class="page-link" th:if="${servicesList.number == i}">[[${i}+1]]</li>
                        <li class="page-link" th:unless="${servicesList.number == i}">
                            <a th:href="@{/services(page=${i},size=${servicesList.size},keyword = ${search})}">[[${i}+1]]</a>
                    </th:block>
                    <li class="page-item" th:if="${servicesList.hasNext()}">
                        <a class="page-link"
                           th:href="@{/services(page=${servicesList.number+1},keyword = ${search},size=${servicesList.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/services/delete}" method="get">
                <input type="hidden" id="deleteId" name="id">
                <div class="modal-body" id="modalDeleteCustomer">
                    <h3>Do you want to delete customer: </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <button type="submit" class="btn btn-primary">ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function getId(id) {
        $("#modalDeleteCustomer").html("ban co muon xoa " + id);
        $('#deleteId').val(id)
    }

    function clearContract() {
        window.location = '/services';
    }
</script>
</body>
</html>