<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product</h3>
<p>
    <a th:href="@{/product/create}">
        Add new Product
    </a>
</p>

<table id = "products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>PRICE</th>
        <th>DISCOUNT</th>
        <th>PRODUCER</th>
        <th>DESCRIPTION</th>
        <th>edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDiscount()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td><a th:href="@{/customer/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>