<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
</head>
<body>
<div th:insert="~{layout::content}"></div>
<div id="content">
    <div class="container">
        <h1 class="text-center">List Customer</h1>
        <button><a th:href="@{/customer/create}">Create new Customer</a></button>
        <h2 th:text="${message}" style="color: green"></h2>
        <h2 th:text="${messageDelete}" style="color: red"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="cusType : ${customerList}">
                <tr>
                    <td th:text="${cusType.id}"></td>
                    <td><a th:text="${cusType.name}"></a></td>
                    <td><a th:text="${cusType.phone}"></a></td>
                    <td><a th:text="${cusType.email}"></a></td>
                    <td><a th:href="@{/customer/{id}/update(id=${cusType.id})}"
                           class="btn btn-outline-primary">Edit</a>
                    </td>
                    <td><a th:href="@{/customer/{id}/delete(id=${cusType.id})}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>