<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1 style="color: blue;text-align: center">Product MotorBike</h1>
<h2 style="float: right;margin-top: -50px"><a th:href="@{/cart}"><img src="img/empty-cart.png" style="height: 70px;width: 80px"></a></h2>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">img</th>
        <th scope="col">description</th>
        <th scope="col">Buy</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${productList}">
        <td th:text="${product.id}"></td>
        <td >
            <a th:href="@{/product/{id}/view(id=${product.id})}" th:text="${product.name}"></a>
        </td>
        <td th:text="${product.price}"></td>
        <td>
            <img th:src="${product.img}" style="width: 100px" height="100px">
        </td>
        <td th:text="${product.description}"></td>
        <td>
            <button>
                <a th:href="@{/cart/{id}/add(id=${product.id})}">Buy</a>
            </button>
        </td>
    </tr>

    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>