<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
</head>
<body>
<div th:insert="~{layout::content}"></div>
<div id="content">
    <div class="container">
        <form style="float: right" th:action="@{/customer/list}" class="form-inline my-2 my-lg-0" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
                   th:name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" value="clear" onclick="clearCustomer()">
                Clear
            </button>
        </form>

        <a th:href="@{/customer/create}"><button> Create New Customer</button></a>
        <h2 th:if="${message}" th:text="${message}" style="color: green"></h2>
        <h2 th:if="${messageDelete}" th:text="${messageDelete}" style="color: red"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Email</th>
                <th>CustomerType</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="customer : ${customerList}">
                <tr>
                    <td th:text="${customer.id}" id="id"></td>
                    <td><a th:href="@{/customer/{id}/view(id=${customer.id})}" th:text="${customer.name}"></a></td>
                    <td th:text="${customer.birthday}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.customerType.name}"></td>
                    <td>
                        <a th:href="@{/customer/{id}/update(id=${customer.id})}"
                           class="btn btn-outline-primary">Edit</a>
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#modalDelete"
                           th:data-id="${customer.getId()}" th:data-name="${customer.name}"
                           onclick="getId(this.getAttribute('data-id'))" class="btn btn-danger delete">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${customerList.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{/customer(page=${customerList.number - 1},keyword = ${keywordOld},size=${customerList.size})}">Previous</a>
                    </li>

                    <th:block th:each="i: ${#numbers.sequence(0, customerList.totalPages - 1)}">
                        <li class="page-link" th:if="${customerList.number == i}">[[${i}+1]]</li>
                        <li class="page-link" th:unless="${customerList.number == i}">
                        <a th:href="@{/customer(page=${i},size=${customerList.size},keyword = ${keywordOld})}">[[${i}+1]]</a></li>
                    </th:block>
                    <li class="page-item" th:if="${customerList.hasNext()}">
                        <a class="page-link"
                           th:href="@{/customer(page=${customerList.number+1},keyword = ${keywordOld},size=${customerList.size})}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/customer/delete}" method="get">
                <input type="hidden" id="deleteId" name="id">
                <div class="modal-body" id="modalDeleteCustomer">
                    <h3>Do you want to delete customer: </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    <button type="submit" class="btn btn-primary">ok</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    function getId(id) {
        $("#modalDeleteCustomer").html("ban co muon xoa " + id);
        $('#deleteId').val(id)
    }

    function clearCustomer() {
        window.location = '/customer';
    }
</script>
</html>