<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/index :: head}">
</head>
<body>
<div class="container">
    <h1>Edit new Customer</h1>
    <form th:action="@{/employee/update}" th:object="${employee}" method="post" novalidate="novalidate">
        <div class="form-group">
            <label class="col-form-label col-2">Id</label>
            <input class="form-control col-6" type="text" th:field="*{id}" th:readonly/>
            <h2 th:if="${messageId}" th:text="${messageId}" style="color: red"></h2>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Name</label>
            <input class="form-control col-6" type="text" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Birthday</label>
            <input class="form-control col-6" type="date" th:field="*{birthday}"/>
            <label style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Id Card</label>
            <input class="form-control col-6" type="text" th:field="*{idCard}"/>
            <label style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Salary</label>
            <input class="form-control col-6" type="text" th:field="*{salary}"/>
            <label style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">phone</label>
            <input class="form-control col-6" type="text" th:field="*{phone}"/>
            <label style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Email</label>
            <input class="form-control col-6" type="text" th:field="*{email}"/>
            <label style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Address</label>
            <input class="form-control col-6" type="text" th:field="*{address}"/>
        </div>
        <br>
        <div class="form-group">
            <label class="col-form-label col-2">position</label>
            <select class="form-control col-6" th:field="*{position}">
                <option th:each="cusType:${positionList}" th:text="${cusType.name}" th:value="${cusType.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Education Degree</label>
            <select class="form-control col-6" th:field="*{educationDegree}">
                <option th:each="cusType:${educationDegreeList}" th:text="${cusType.name}"
                        th:value="${cusType.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-form-label col-2">Division</label>
            <select class="form-control col-6" th:field="*{division}">
                <option th:each="cusType:${divisionList}" th:text="${cusType.name}" th:value="${cusType.id}"></option>
            </select>
        </div>
        <br>
        <input type="submit" class="btn btn-outline-success" value="Edit"/>
        <a th:href="@{/employee}" class="btn btn-outline-primary">Back</a>
    </form>
</div>
</body>
</html>